---
title: Bloggin Like
author: Bob
title: What is this
foobar: boop
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='/resources/css/reset.min.css' rel='stylesheet' type='text/css'>
        <link href='/resources/css/main.css' rel='stylesheet' type='text/css'> 
    </head>
    <body>
        <section class='section-container'>
            <div class='container'>
                <article class='header'>
                    <h1>rhgksrua</h1>
                </article>
                <article class='intro'>
                    <p>{{ site.data.projects.intro }}</p>
                </article>
                <article class='portfolio'>
                    <h2>Projects</h2>
                    <ul>
                        {% for project in site.data.projects.projects %}
                        <li>
                            <h3 class='content-title'><a href='{{ project.url }}'>{{ project.name }}</a></h3>
                            <p class='content'>{{ project.content }}</h3>

                        </li>
                        {% endfor %}
                    </ul>
                </article>
                <article class='about-me'>
                    <h2>About Me</h2>
                    <div class='experience-container'>
                        <h3>Experience</h3>
                        <ul class='experience-list'>
                            {% for experience in site.data.projects.skills.experience %}
                            <li>
                                {{ experience }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='database-container'>
                        <h3>Database</h3>
                        <ul class='database-list'>
                            {% for database in site.data.projects.skills.databases %}
                            <li>
                                {{ database }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='tool-container'>
                        <h3>Tools</h3>
                        <ul class='tool-list'>
                            {% for database in site.data.projects.skills.databases %}
                            <li>
                                {{ database }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </div>
        </section>
    </body>
</html>
