<div class='contact-container'>
    <div class='close'></div>
    <div class='form-container'>
        <h3>Contact</h3>
        <br/>
        <form action="http://mailthis.to/hankhank" method="post" class='form'>
            <div>
                <label for="email">Email Address:</label>
                <input type="email" name="email" id="name" placeholder="your@email.com" />
            </div>

            <br>
            <div>
                <label for="message">Message:</label>
                <textarea cols="34" rows="8" name="message"></textarea>
            </div>

            <div>
                <input type="submit" value="Submit " />
            </div>
            <input type="hidden" name="_confirmation" value="thanks">
        </form>
    </div>
</div>
