---
---

$nav-color: #3E61E4;
$nav-text: #EBEBEB;

.posts {
    h1 {
        text-align: center;
    }
    ul {
        li {
            position: relative;
            margin-top: 30px;
            .post-date {
                position: absolute;
                right: 0;
                
                font-size: 0.8em;
            }
        }
    }
}


@media (max-width: 600px) {
    .post-container {
        font-family: "Vollkorn", Palatino, Times;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

}
