---
---

$nav-color: #3E61E4;
$nav-text: #EBEBEB;

.posts {
    h1 {
        text-align: center;
    }
    ul {
        li {
            position: relative;
            margin-top: 30px;
            a {
                display: inline-block;
                width: 400px;
            }
            .post-date {
                position: absolute;
                right: 0;
                font-size: 0.8em;
            }
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 600px) {
    .posts {
        ul {
            li {
                a {
                    width: 100%;
                }
                .post-date {
                    position: relative;
                    left: 0;
                    display: block;
                    font-size: 0.8em;
                }
            }
        }
    }
}
