---
---

$nav-color: #3E61E4;
$nav-text: #EBEBEB;
$link-color: #212121;
$footer-bg: #a9a9a9;

html {
    position: relative;
    height: 100%;
}

body {
    position:relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(119, 119, 107);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: 0.7px;
    background-image: url('../img/white_wall_hash.png');
    background-repeat: repeat;
}

h1 {
    font-size: 2.2em;
    padding: 10px 0;
}

h2 {
    font-size: 1.4em;
}


nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
    text-align: center;
    .items {
        display: inline-block;
        width: 100px;
        padding: 10px 0;
        a {
            text-decoration: none;
            color: $nav-color;
        }
    }
    .current {
        border-bottom: 2px solid #ADADAD;
    }
}

.links {
    text-align: center;
    padding: 0 10px 30px 10px;
    p {
        display: inline-block;
        width: 100px;
        padding: 10px 0;
        a {
            color: $link-color;
        }
    }
}

header {
    margin-bottom: 50px;
}

.header {
    position: relative;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(119, 119, 107, 0) 0%, rgba(119, 119, 107, 0.2) 6%, rgba(119, 119, 107, 0.2) 94%, rgba(119, 119, 107, 0) 100%);
    }
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 90px;
    width: 500px;
}

footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    height: 30px;
    line-height: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $footer-bg;
    color: $nav-text;
    text-align: center;
}

// fixed title and nav
.header-fixed {
    z-index: 999;
    padding: 0;
    //margin: 5px 0;
    .main-title-container-fixed {
        position: fixed;
        top: 0;
        display: none;
        width: 100%;
        background-image: url('../img/mochaGrunge.png');
        background-repeat: repeat;
        text-align: center;
        z-index: 999;
        .main-title-fixed {
            color: white;
        }

    }
    .nav-fixed {
        display: none;
    }
    .links-fixed {
        display: none;
    }
}



@media (max-width: 600px) {
    body {

    }
    .content-container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}
