---
---

$container-width: 700px;
$section-width: 500px;
$link-color: #82B1FF;
$nav-color: #3E61E4;
$nav-text: #EBEBEB;

.container {
    a {
        text-decoration: none;
        color: $nav-color;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.3em;
    }
}

.techs {
    .tech {
        display: inline-block;
        padding: 4px 10px;
        margin-top: 4px;
        border-radius: 4px;
        background-color: #EBEBEB;
    }
}

.intro, .portfolio, .about-me {
    position: relative;
    //max-width: $section-width;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    line-height: 32px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    .experience-list, .database-list, .tool-list {
        line-height: 20px;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(119, 119, 107, 0) 0%, rgba(119, 119, 107, 0.2) 6%, rgba(119, 119, 107, 0.2) 94%, rgba(119, 119, 107, 0) 100%);
    }
}

.portfolio {
    li {
        margin-bottom: 20px;
        border-bottom: 2px solid #EBEBEB;
        padding-bottom: 10px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.experience-container, .database-container, .tool-container {
    width: $section-width / 3;
    float: left;
}





@media (max-width: 650px) {
    .section-container {
        max-width: 95%;
    }
    .experience-container, .database-container, .tool-container {
        width: 32%;
        float: left;
    }
}
