---
---

body {
    font-family: 'Open sans', sans-serif;
    color: rgb(119, 119, 107);
}

h1 {
    margin: 0;
    position: relative;
    font-size: 1.4em;
}

h2 {
    margin: 0;
    position: relative;
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

.content-title {
    padding-left: 10px;
}

.section-container {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(119, 119, 107, 0) 0%, rgba(119, 119, 107, 0.2) 6%, rgba(119, 119, 107, 0.2) 94%, rgba(119, 119, 107, 0) 100%);
    }
}

.portfolio {
    max-width: 500px;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 32px;
}
@media (max-width: 600px) {
    .section-container {
        max-width: 95%;
        background-color: #424242;
    }
}
