---
---

$container-width: 700px;
$section-width: 500px;
$link-color: #82B1FF;
$nav-color: #E3F2FD;

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(119, 119, 107);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: 0.7px;
}

h1 {
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 2.4em;
}

h2 {
    margin: 0;
    position: relative;
    font-size: 1.7em;
}

h3 {
    margin: 0;
    position: relative;
    font-size: 1.2em;
}

.links {
    text-align: center;
    padding: 0 10px 30px 10px;
    a {
        color: $link-color;
        padding: 10px;
    }
}

.content-title {
    padding-left: 0;
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
        
}

.section-container {
    max-width: $container-width;
    margin-right: auto;
    margin-left: auto;
}

.header {
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(119, 119, 107, 0) 0%, rgba(119, 119, 107, 0.2) 6%, rgba(119, 119, 107, 0.2) 94%, rgba(119, 119, 107, 0) 100%);
    }
}

nav {
    height: 50px;
    background-color: $nav-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
    p {
        padding-right: 40px;
        float: right;
        line-height: 50px;
        cursor: pointer;

    }
}

.contact-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding-top: 100px;
    transition: all 0.2s;
    .close {
        position: fixed;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        margin: 4px;
        border-radius: 4px;
        cursor: pointer;
        &:before {
            position: absolute;
            top: 0;
            right: 14px;
            border-radius: 2px;
            content: '';
            width: 10px;
            height: 40px;
            background-color: #EBEBEB;
            transform: rotate(135deg);
        }
        &:after {
            position: absolute;
            top: 0;
            right: 14px;
            border-radius: 2px;
            content: '';
            width: 10px;
            height: 40px;
            background-color: #EBEBEB;
            transform: rotate(45deg);
        }
    }
    .form-container {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        background-color: #424242;
        padding: 20px;
        border-radius: 5px;
        h3 {
            color: #EBEBEB;
        }


        .form {
            
            label {
                display: block;
                padding: 10px;
                color: #FAFAFA;
            }
            input {
                box-sizing: border-box;
                display: block;
                border-radius: 4px;
                border: 0;
                padding: 10px 10px;
            }
            input[type='email'] {
                width: 100%;
            }
            input[type='submit'] {
                padding: 10px;
                background-color: #EBEBEB;
                border: 1px solid #9E9E9E;;
                margin-top: 10px;
            }
            textarea {
                font-family: 'Roboto', sans-serif;
                box-sizing: border-box;
                width: 100%;
                border-radius: 4px;
                padding: 10px 10px;
            }

        }
    }

}

.show {
    visibility: visible;
    opacity: 1;
}

.techs {
    .tech {
        display: inline-block;
        padding: 4px 10px;
        margin-top: 4px;
        border-radius: 4px;
        background-color: #EBEBEB;
    }
}

.intro, .portfolio, .about-me {
    position: relative;
    max-width: $section-width;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 32px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    .experience-list, .database-list, .tool-list {
        line-height: 20px;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(119, 119, 107, 0) 0%, rgba(119, 119, 107, 0.2) 6%, rgba(119, 119, 107, 0.2) 94%, rgba(119, 119, 107, 0) 100%);
    }
}

.portfolio {
    li {
        margin-bottom: 10px;
    }
}

.experience-container, .database-container, .tool-container {
    width: $section-width / 3;
    float: left;
}

@media (max-width: 600px) {
    body {
    }
    .section-container {
        max-width: 95%;
    }
    .experience-container, .database-container, .tool-container {
        width: 32%;
        float: left;
    }
}
