---
---

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link href='/resources/css/reset.min.css' rel='stylesheet' type='text/css'> 
        <link href='/resources/css/contact.css' rel='stylesheet' type='text/css'>
        <link href='/resources/css/default.css' rel='stylesheet' type='text/css'>
        {% for css in page.css %}
            <link href='/resources/css/{{ css }}' rel='stylesheet' type='text/css'> 
        {% endfor %}
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'> 
        <link href='/resources/css/syntax.css' rel='stylesheet' type='text/css'> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <title>rhgksrua | portfolio</title>
    </head>
    <body>
        {% include contact.html %}
        <header>
            <article class='header'>
                <h1>rhgksrua</h1>
            </article>
            <nav>
                <p class='items home {% if page.current == 'home' %}current{% endif %}'><a href="/">Home</a></p>
                <p class='items blog {% if page.current == 'blog' %}current{% endif %}'><a href="/blog">Blog</a></p>
                <p class='items contact' id='contact'><a href="">Contact</a></p>
            </nav>
            <article class='links'>
                <p>
                    <a href='https://github.com/rhgksrua/'><i class="fa fa-github fa-2x"></i></a>
                </p>
                <p>
                    <a href='http://codepen.io/rhgksrua/'><i class="fa fa-codepen fa-2x"></i></a>
                </p>
                <p>
                    <a href='https://www.freecodecamp.com/rhgksrua'><i class="fa fa-fire fa-2x"></i></a>
                </p>
            </article>
        </header>
        <div class='content-container'>
            {{ content }}
        </div>
        <footer>
            <article>
                <h3>By RH</h3>
            </article>
        </footer>
        <script src="/resources/js/main.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-61535736-3', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
